<div class="row">
  <div class="large-9 large-centered small-10 small-centered text-center columns">
      <img src="http://the1perspective.com/jonatron/DOWN2GOLF.png" class="logosm" alt="Down2Golf" />
  </div>

</div>


<div class="row pad-down">
  <div class="column medium-8 large-9 small-12 small-centered large-centered medium-centered">
    <ul class="pricing-table no-bullet text-center">
      <li class="title">Conversations</li>
      <%= mailbox_section 'inbox', @box %>
      <%= mailbox_section 'sent', @box %>
      <%= mailbox_section 'trash', @box %>
      <li><a data-open="exampleModal1" class="large expanded button">New Message</a></li>
    </ul>
  </div>
</div>


<div class="row">

<div class="column medium-8 large-9 small-12 large-centered medium-centered">
  <%= render partial: 'conversations/conversation', collection: @conversations %>
  <% if @box == 'trash' %>
  <%= link_to 'Empty trash', empty_trash_conversations_path, class: 'btn btn-danger', method: :delete, data: {confirm: 'Are you sure?'} %>
  <% end %>
  <%= will_paginate %>
</div>

</div>

<!-- MODAL -->
<div class="reveal" id="exampleModal1" data-reveal>
  <%= render 'messages/new' %>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
