<% page_header "Conversation" %>
<div class="row pad-down">
<div class="large-9 medium-10 small-12 columns large-centered medium-centered">
  <table>
    <thead>
      <tr>
        <th width="80">Chatting With</th>
        <th width="60">Subject</th>

        <th></th>
        <th width="50">From</th>
        <th width="80">At</th>
        <th>Body</th>
      </tr>
    </thead>
    <tbody>
      <% @conversation.receipts_for(current_user).each do |receipt| %>
      <tr>
        <td><%= render 'conversations/participants', conversation: @conversation %></td>
        <td><%= @conversation.subject %></td>
        <td><% message = receipt.message %></td>
        <td><%= message.sender.email %></td>
        <td><%= message.created_at.strftime("%-d %B %Y, %H:%M:%S") %></td>
        <td><%= message.body %></td>

      </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>

<div class="row">
  <div class="large-9 medium-10 small-11 columns large-centered medium-centered">
    <%= form_tag reply_conversation_path(@conversation), method: :post do %>
    <%= text_area_tag 'body', nil, cols: 6, placeholder: 'Type something...', required: true %>
    <%= submit_tag "Send Message", class: 'button large expanded hollow' %>
    <% end %>
  </div>
</div>
