<% page_header "Conversation" %>



<div class="row">
  <div class="large-9 columns large-centered">
      <div class="media-object">
        <div class="media-object-section">
          Chatting with <br>
          <div class="thumbnail">
            <%= render 'conversations/participants', conversation: @conversation %>
          </div>
        </div>
        <div class="media-object-section">
          Subject: <%= @conversation.subject %>
          <% @conversation.receipts_for(current_user).each do |receipt| %>
          <% message = receipt.message %>
          <%= cl_image_tag (message.sender.gravatar.url), :width => 100, :height => 100, :crop => :fill, :gravity => :face %><br>
          <%= message.sender.email %>
          says at <%= message.created_at.strftime("%-d %B %Y, %H:%M:%S") %></h6>
          <%= message.body %>
          <% end %>
          <%= form_tag reply_conversation_path(@conversation), method: :post do %>
          <%= text_area_tag 'body', nil, cols: 6, placeholder: 'Type something...', required: true %>
          <%= submit_tag "Send Message", class: 'button' %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
