<div class="row">
  <div class="large-12 large-centered columns">
    <h2 class="text-center">Are You Down To Golf?</h2>
    <hr>
  </div>
</div>

<div class="row">
  <% @courses.each do |course| %>
  <div class="large-6 medium-11 medium-centered small-12 columns">
    <div class="row align-middle">
      <div class="small-7 columns">
        <img class="fixed-image thumbnail" src= "<%= course.image %>">
        <%= link_to "See Course", course_path(course), class: 'success medium hollow expanded button' %>
      </div>
      <div class="columns">
        <h3><%= course.name.split.map(&:capitalize)*' ' %></h3>
        <h4><i class="fi-compass"> - </i><strong><%= course.location.split.map(&:capitalize)*' ' %></strong></h4>
        <h4><i class="fi-dollar-bill"> - </i><strong><%= number_to_currency(course.price) %></h4></strong>
        <p>Matches being played: <%= course.matches.count %></p>
      </div>
    </div>
  </div>
  <% end %>
</div>






<div class="row">
  <div class="large-6 medium-4 small-11 large-centered medium-centered small-centered columns">
    <%= will_paginate @matches, class:'pagination text-center', label:'pagination' %>
  </div>
</div>
