<div class="row">
  <div class="large-12 large-centered columns">
    <hr>
    <h2 class="text-center">Are You Down To Golf yet?</h2>
    <hr>
  </div>
</div>


<div class="row">
  <% @courses.each do |course| %>
  <div class="large-6 medium-11 medium-centered small-12 columns">
    <div class="row align-middle">
      <div class="small-7 columns">
        <img class="fixed-image thumbnail" src= "<%= course.image %>">
        <%=link_to "See Course", course_show_path(course), class: 'large secondary expanded button' %>
      </div>
      <div class="columns">
        <h2><%= course.name.split.map(&:capitalize)*' ' %> <br></h2>
        <h4><a href='<%= course.url %>'><%= course.url %></a><br><h4>
        <h4>Location: <strong><br><%= course.location.split.map(&:capitalize)*' ' %></strong></h4> <br>
        <h5>Price: <strong><%= number_to_currency(course.price) %></h5></strong>
      </div>
    </div>
  </div>
  <% end %>
<%=link_to "View all Matches", matches_path%>
