<img src="<%= @course.image %>">
<h1><%=@course.name %></h1>
<h3> <%= @course.location %></h3>
<h3><%= @course.price %></h3>
<h3><a href="<%= @course.url %>">   <%= @course.url %>  </a></h3>
<h5> <% @course.matches.each do | match| %> </h5>
<%= match.title %>
<% end %>
Comments:<br>
<% @course.comments.each do |c| %>
  <h5><%= c.body %></h5>
  Written By: <%= c.user.email %><br>
  <% if current_user.id == c.user_id %>
    <%= link_to "Delete Comment", course_comment_path(@course,c), method: :delete %>
    <%= link_to "Edit Comment", edit_course_comment_path(@course,c)%>
  <% end %>
<% end %>
<br>
<% if current_user %>
  <%= link_to "Comment on Course", new_course_comment_path(@course,@comment) %><br>
<% end %>
<%= link_to "Create Match at this Course", new_match_path %>
