<h1><%=@course.name %></h1><br>
<h3> <%= @course.location %></h3><br>
<h3><%= @course.price %></h3><br>
<h3><a href='<%= @course.url %>'> <%= @course.name %></a></h3><br>
Clubhouse?<%= rating_for @course, "clubhouse", enable_half: true %>
Conditions?<%= rating_for @course, "conditions", enable_half: true %>
Scenery?<%= rating_for @course, "scenery", enable_half: true %>
Worth the Money?<%= rating_for @course, "worth", enable_half: true %>
<img src="<%= @course.image %>">
Matches: <br><% @course.matches.each do |match| %>
<%= link_to match.title, match_show_path(match) %><br>
<%= match.timeanddate.strftime("%m/%d/%Y %H:%M")  %><br>
<%= match.course.name %><br>
<% end %><br>
<%= link_to "Back to Courses Index", courses_path %><br>
<%= link_to "back to matches index", matches_path %>
