<div class="row">
  <div class="large-5 medium-6 small-11 large-centered medium-centered small-centered columns">
    <h5>Forgot your password?</h5>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.label :email, class: 'success label' %><br>
    <%= f.email_field :email, autofocus: true, placeholder: 'Enter your email address'  %>
    <%= f.submit "Send me reset password instructions", class: 'large button success hollow expanded' %>
    <% end %>
    <%= render "users/shared/links" %>
  </div>
</div>
