<!DOCTYPE html>
<html lang="en">
<html ng-app="Down2GolfApp" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

  <nav role="navigation">
    <ul id="menu" class="overlay-menu">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    <a class="toggle-menu" href="#menu"><i class="fi-plus"></i></a>
  </nav>

  <%= yield %>

  <script>
  $(".toggle-menu").on("click", function(){
    $("#menu").toggleClass("is-open");
  });
  </script>
</body>
</html>
