<div class="row">
  <div class="large-6 medium-7 small-10 small-centered medium-centered columns large-centered">
    <strong><h2>Sign up for Down2Golf</h2></strong>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
      <%= f.label :username %><br />
      <%= f.text_field :username, autofocus: true %>
      <%= f.label :gravatar %>
      <%= f.file_field :gravatar %>
      <%= f.label :password %>
      <% if @minimum_password_length %>
        Minimum length:<%= @minimum_password_length %>
      <% end %>
      <%= f.password_field :password, autocomplete: "off" %>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
      <%= f.submit "Sign up", class:"button large success" %>
    <% end %>
  <%= render "users/shared/links" %>
  </div>
</div>
